:root {
  --font-roboto-mono: "Roboto Mono", monospace; /* ? Typo monospace pour avoir le même espace pris par les caractères */
  --font-inter: "Inter", serif;
}

*,
&::before,
&::after {
  padding: 0;
  margin: 0;
  border: none; 
  box-sizing: border-box;
}

body {
  background-color: pink;
  font-family: var(--font-inter);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #cff4aa;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  border-radius:  1.5rem;
}
header > p > span {
  font-weight: 400;
}

header > .inputContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0;
  transform: scalex(0);
  transform-origin: left;
  transition: transform ease-in-out .25s,
              opacity ease-in-out .25s;
}

header .inputContainer.active {
  opacity: 1;
  transform: scalex(1);
}

header > .inputContainer > span {
  position: absolute;
  top: 50%;
  right: .5rem;
  width: 1.7rem;
  translate: 0 -60%;
  font-size: .9rem;
  color: #949494;
}

header input {
  width: 13rem;
  height: 2rem;
  padding-inline: .5rem 2.4rem;
  border: solid 2px #ba4edb;
  border-radius: .5rem;
  font-weight: 600;
}

header > button {
  font-size: 1.3rem;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  color: #fff;
  background-color: #da83f5;
  transition: background-color ease-in-out .25s;
}

header > button:hover {
  background-color: #ba4edb;
}

.worksheet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 2rem;
  max-width: 1000px;
  margin: 4rem auto 1rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
  background-color: white;
}

.worksheet > .page > .subtitleCalc {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #ba4edb;
}

.contentCalcul {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 2rem 0;
  width: 95%;
  margin-top: 0rem;
  padding: 1rem;
  padding-left: 3rem;
  flex-wrap: wrap;
  margin-inline: auto;
}

.subtitleCalc + .contentCalcul {
  margin-top: 0rem;
}

.contentCalcul .buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: -2%;
  width: 6%;
  height: 100%;
  border-radius: .8rem 0 0 .8rem ;
  background-color: pink;
  opacity: 0;
  transition: opacity ease-in-out .25s;
}

.contentCalcul:hover .buttonGroup {
  z-index: 10;
  opacity: 1;
  transition: opacity ease-in-out .25s;
}

.contentCalcul .buttonGroup > button {
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  margin-left: .5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 3px;
  opacity: 0;
  color: #fff;
  background-color: #da83f5;
  transition: opacity ease-in-out .25s;
}

.contentCalcul:hover .buttonGroup > button {
  opacity: 1;
  transition: opacity ease-in-out .25s;
  
}
.contentCalcul > .background {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 4%;
  width: 96%;
  height: 100%;
  border-radius: 0 .8rem .8rem 0;
  opacity: 0;
  background-color: pink;
  transition: opacity ease-in-out .25s;
}

.contentCalcul:hover > .background {
  opacity: 1;
}

.contentCalcul > .background::before {
  content: "";
  display: block;
  position: absolute;
  width: 97%;
  height: calc(100% - (1rem * 2));
  top: 1rem;
  right: 1rem;
  border-radius: .8rem;
  background-color: #fff;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  align-self: start;
  gap: 1rem;
  height: 1.7rem;
  font-weight: bold;
  margin-left: 6rem;
  font-size: 1.5rem;
}

.info > span {
  display: block;
  width: 8.5rem;
  height: 100%;
  border-bottom: solid 3px black;
}

.generateCalcul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 5000;
  bottom: 1rem;
  right: 1rem;
  gap: 1rem;
  width: fit-content;
  padding: 1rem;
  border-radius: 50%;
  transform: scale(.2);
  transform-origin: bottom right;
  background-color: #cff4aa;
}

.generateCalcul:not(.active) {
  bottom: 2rem;
  right: 2rem;
  transition: transform ease-in-out .5s;
}

.generateCalcul.active {
  border-radius: 1rem;
  transform: scale(1);
  transition: transform ease-in-out .5s;

}

.generateCalcul > .reductComponent {
  position: relative;
  width: calc(2rem + 30px);
  aspect-ratio: 1 / 1;
  font-size: 1.2rem;
  border-radius: 50%;
  rotate: 0deg;
  color: white;
  border: solid 15px #cff4aa;
  background-color: #da83f5;
  transform: scale(4);
  transition: rotate ease-in-out .25s,
              background-color ease-in-out .25s;
}

.generateCalcul > .reductComponent:hover {
  background-color: #ba4edb;
}

.generateCalcul.active > .reductComponent {
  position: absolute;
  top: 0rem;
  left: 0rem;
  transform: scale(1);
  rotate: 180deg;
  transition: rotate ease-in-out .25s,
              background-color ease-in-out .25s;
}

.generateCalcul > h3 {
  display: none;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.generateCalcul.active > h3 {
  display: block;
}

.setting {
  display: none;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.generateCalcul.active > .setting{
  display: flex;
}
.setting > .inputGroup {
  display: flex;
  justify-content: center;
  align-items: end;
}

.inputGroup > p {
  width: 11.5rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.inputGroup > input[type="number"] {
  padding-left: .3rem;
  width: 2.7rem;
  font-size: .9rem;
}
.inputGroup > input[type="number"],
.inputGroup > select {
  background-color: #F9E4FF;
  height: 1.5rem;
  font-weight: 600;
  color: #771096;
  border: solid 1px #da83f5;
  border-radius: 3px;
}

.inputGroup:not(:nth-of-type(2)) > select {
  width: 2.7rem;
  text-align: center;
}

.setting > .inputGroup > .radioGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputGroup.disabled {
  color: #949494;
}

.radioGroup > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  
}

.radioGroup input[type="radio"] {
  position: relative;
  appearance: none;
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0px;
  font: inherit;
  color: currentColor;
  width: .9rem;
  aspect-ratio: 1 / 1;
  border: 0.1rem solid #da83f5;
  border-radius: 50%;
}

input[type="radio"]::before {
  content: "";
  position: absolute;
  width: 80%;
  aspect-ratio: 1 / 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform .12s ease-in-out;
  border-radius: 50%;
  background-color: #da83f5;
}
.radioGroup > span:first-of-type > [type="radio"]:checked:not(input[type='radio']:disabled)::before {
  transform: translate(-55%, -50%) scale(1.05);
}

input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

input[type="radio"]:disabled {
  border-color: #616161;
}

input[type="radio"]:disabled::before {
  width: 100%;
  top: 0;
  left: 0;
  opacity: .5;
  transform: scale(1);
  background-color: #616161;
}
.groupButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}
.groupButton > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .7rem;
  text-align: left;
  padding: .6rem 0;
  width: 7.2rem;
  border-radius: .5rem;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background-color: #da83f5;
  transition: background-color ease-in-out .25s,
              color ease-in-out .25s;
}

.groupButton > button:hover {
  background-color: #ba4edb;
}

.groupButton > button > span{
  display: inline-block;
  width: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  text-align: center;
  color: #da83f5;
  background-color: #fff;
}

.groupButton > .buttonPdf.disabled {
  background-color: #949494;
  color: #616161;
  cursor: not-allowed;
}

.groupButton > .deleteButton {
  background-color: #EA5B5B;
}

.groupButton > .deleteButton:hover {
  background-color: #db3a3a;
}

.groupButton > .deleteButton > span{
  padding: 0;
  color: #EA5B5B;
}

content-calcul {
  width: 95%;
  margin-top: 0rem;
  margin-inline: auto;

}

.subtitleCalc + content-calcul {
  margin-top: -.5rem;
}